@{
    ViewBag.Title = "ContactUs";
}

<div class="container shadow mt-4 rounded pt-5 pb-4 mt-5" style="background-color: #FAF5EF; width:75%;">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="fw-bold mb-4 text-light" style="background-color: #151B54">Contact Us</h1>
            <a href="@Url.Action("Index", "Home")" class="company-logo">
                <img src="~/Content/Images/EBILL LOGO PNG.png" alt="ytp" style="max-height: 100px;">
            </a>
            <p class="lead">
                Have questions, feedback, or need support?
                We’re here to help you with anything related to
                <span class="fw-bold text-primary">Bill Generator</span>.
            </p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-8 mx-auto text-center">
            <p class="mb-1"><b>Email:</b> ytpncomapny@gmail.com</p>
            <p class="mb-1"><b>Phone:</b> +91-9512999999</p>
            <p><b>Address:</b> YTP & Company Pvt Ltd, Gondal, India 🇮🇳</p>
        </div>
    </div>
</div>
